<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf0CAIpvNxWLMgpX_tIE12EtRDeBEdF8A</string>
	<key>GCM_SENDER_ID</key>
	<string>314233944831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.slv.eShop--FireBase-</string>
	<key>PROJECT_ID</key>
	<string>eshop-firebase-9d4cd</string>
	<key>STORAGE_BUCKET</key>
	<string>eshop-firebase-9d4cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314233944831:ios:671307e748239f93afaaca</string>
</dict>
</plist>